<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server side rendering</title>
  <link rel="stylesheet" href="styles\style.css">

  <link rel="stylesheet" href="https://use.typekit.net/brx3lyu.css" />
  <!-- rigid square font -->
  <link rel="stylesheet" href="https://use.typekit.net/kdb0mcl.css" />
  <!-- yrsa font -->

  <script src="scripts/script.js" defer></script>
</head>

<header>
  <section>
    <img class="logo" src="assets/logo.svg" alt="">
  </section>

  <section class="navheader">
    <nav>
      <ul>
        <li>
          <a href="">Over</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
        <li>
          <a href=""><img src="assets/account.svg" alt=""></a>
        </li>
      </ul>
    </nav>
  </section>

</header>

<section>
  <p>
    <img class="arrows" src="assets/button.png" alt="">
    Overzicht <strong>tekenmethodes</strong>
  </p>
</section>

<main>
  <section class="navmain">
    <h1>Roadmap</h1>