* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;

    --rigid: rigid-square, sans-serif;
    --yrsa: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    --blue: #090940;
    --bluelight: #31439c;
    --orange: #feb51e;
    --white: #ffffff;
}

h1 {
    font-size: 3.157rem;
    font-weight: 800;

    font-family: var(--rigid);
    color: var(--blue);

    padding-left: 6.7rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.logo {
    padding: 1rem;
    padding-left: 3rem;
    padding-bottom: 0.75rem;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;

    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue);
}

li {
    padding: 0.6rem;
    font-size: 1rem;

    font-family: var(--rigid);
    font-weight: bolder;
}

.navheader li {
    padding: 1.4rem;
}

.navheader {
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

.arrows {
    width: 1%;
}

p {
    background-color: var(--bluelight);
    color: var(--white);

    text-transform: uppercase;
    font-family: var(--rigid);
    font-size: 0.75rem;

    padding-left: 7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}

.navmain {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;
}

.navmain li {
    color: #31439c;
    text-transform: uppercase;
    font-family: var(--rigid);
}

.bold {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.navmain ul {
    padding-right: 3.2rem;
}

.roadmap {
    width: 39.8rem;
    height: 27rem;
}

main section {
    display: flex;
    justify-content: center;
}